@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Condensed:wght@300&family=Source+Sans+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&family=Roboto&family=Roboto+Condensed:wght@300&family=Source+Sans+Pro:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&family=Roboto&family=Roboto+Condensed:wght@300&family=Shippori+Antique&family=Source+Sans+Pro:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital@1&family=Source+Sans+Pro:wght@700&display=swap");
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

.topnav {
  position: sticky;
  top: 0;
  z-index: 99;
  background-color: rgb(255, 255, 255);
  padding: 30px 80px 30px 50px;
}
.topnav a {
  font-family: "Roboto", sans-serif;
  font-family: "Roboto Condensed", sans-serif;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 900;
  display: inline-block;
  position: relative;
  color: #000;
  text-align: left;
  margin: 0 10px;
  padding-bottom: 2px;
  text-decoration: none;
}

.topnav a::before {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000;
  transform-origin: bottom center;
  transition: transform 0.25s ease-out;
}

.topnav a:hover::before {
  transform: scaleX(1);
  transform-origin: bottom center;
}

.topnav-centered img {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  display: block;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  height: 40px;
}

.topnav-right {
  float: right;
}

.hero-image {
  position: relative;
  height: 500px;
  width: 100%;
  background-image: url("Rectangle.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero-text {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero-text h1 {
  font-family: "surveyor text a", "surveyor text b", Georgia, serif;
  font-style: normal;
  font-weight: 300;
  padding: 0;
  margin: 0;
  position: relative;
  font-size: 46px;
  line-height: 46px;
  color: #ffff;
  text-align: center;
}

.hero-text p {
  font-family: "Roboto", sans-serif;
  font-family: "Roboto Condensed", sans-serif;
  font-family: "Source Sans Pro", sans-serif;
  letter-spacing: 0.8px;
  font-weight: 300;
  position: relative;
  font-size: 16px;
  color: #fff;
  text-align: center;
}

.hero-text button {
  display: inline-block;
  position: relative;
  font-family: din-2014, helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  color: #fff;
  letter-spacing: 1.4px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  text-align: center;
  padding: 0 0 5px 0;
}

.hero-text button::before {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(1);
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  transform-origin: bottom center;
  transition: transform 0.25s ease-out;
}

.hero-text button:hover::before {
  transform: scaleX(0.75);
  transform-origin: bottom center;
}

.design-inspires {
  position: relative;
  background-color: #fff;
}

.design-inspires-text {
  text-align: center;
  padding: 80px 0;
}

.design-inspires button {
  font-family: din-2014, helvetica, sans-serif;
  margin: 0;
  padding: 0 0 5px 0;
  border: none;
  background-color: transparent;
  display: inline-block;
  position: relative;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  color: #000;
  letter-spacing: 1.4px;
  cursor: pointer;
  text-align: center;
}

.design-inspires button::before {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(1);
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #000;
  transform-origin: bottom center;
  transition: transform 0.25s ease-out;
}

.design-inspires button:hover::before {
  transform: scaleX(0.75);
  transform-origin: bottom center;
}

.design-inspires-text h1 {
  font-family: "surveyor text a", "surveyor text b", Georgia, serif;
  font-style: normal;
  font-size: 46px;
  font-weight: 300;
  line-height: 58px;
  margin: 0;
  padding: 0;
  padding: 10px;
  letter-spacing: normal;
  color: #000;
}

.design-inspires-text p {
  font-family: "Roboto", sans-serif;
  font-family: "Roboto Condensed", sans-serif;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
  padding: 0 0 20px 0;
  letter-spacing: 0.8px;
  color: #a0a0a0;
}

.image-container {
  display: flex;
  text-align: center;
  justify-content: space-around;
  width: 100%;
  margin: 0 0 50px 0;
}
.image-container img {
  max-width: 90%;
  height: auto;
}

.laptopstands img {
  margin-right: 30px;
}
.deskpads img {
  margin-left: 30px;
}

.image-container h2 {
  font-family: "surveyor text a", "surveyor text b", Georgia, serif;
  font-weight: 300;
  line-height: 30px;
  font-size: 30px;
  padding: 30px 0 0 0;
  color: #000;
}

.image-container button {
  border: none;
  text-align: center;
  background-color: transparent;
  font-size: 14px;
  font-weight: 700;
  font-family: din-2014, helvetica, sans-serif;
  cursor: pointer;
  letter-spacing: 1.4px;
  color: #000;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: rgb(22, 22, 22);
}

.featured {
  padding: 50px 0 100px 0;
  text-align: center;
  height: 770px;
}

.featured p {
  font-family: "Roboto", sans-serif;
  font-family: "Roboto Condensed", sans-serif;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 0.8px;
  color: #a0a0a0;
}

.featured h1 {
  font-family: "surveyor text a", "surveyor text b", Georgia, serif;
  font-weight: 300;
  line-height: 36px;
  margin: 0;
  padding: 0;
  font-size: 36px;
  padding: 10px;
  color: #000;
}

.row {
  width: 100%;
  margin: 50px 0 50px 0;
}
.column {
  float: left;
  width: 25%;
  height: 434px;
}

.column1 img:h {
  content: url(/Growmade/products/walnut-magsafe-stand-hover.jpg);
}

.column p {
  font-family: "Roboto", sans-serif;
  font-family: "Roboto Condensed", sans-serif;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  line-height: 21px;
  font-size: 14px;
  letter-spacing: 0.7px;
  text-align: center;
  color: #a0a0a0;
}

.inspiration {
  position: relative;
  height: 504px;
  width: 100%;
  background-image: url("inspiration.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.ins-text {
  position: relative;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}

.ins-text h1 {
  font-family: "surveyor text a", "surveyor text b", Georgia, serif;
  font-weight: 300;
  line-height: 70px;
  font-style: normal;
  color: #fff;
  margin: 0;
  padding: 0;
  position: relative;
  font-size: 70px;
  white-space: nowrap;
}

.ins-text p {
  font-family: "Roboto", sans-serif;
  font-family: "Roboto Condensed", sans-serif;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  text-align: center;
  letter-spacing: 0.8px;
  font-size: 16px;
  white-space: nowrap;
  padding: 0 0 20px 0;
  color: #fff;
}

.ins-text button {
  display: inline-block;
  position: relative;
  margin: 0;
  padding: 0 0 5px 0;
  font-family: "Roboto", sans-serif;
  font-family: "Roboto Condensed", sans-serif;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: #fff;
  letter-spacing: 1.4px;
  font-size: 14px;
}

.ins-text button::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  transform: scaleX(1);
  transform-origin: bottom center;
  transition: transform 0.25s ease-out;
}

.ins-text button:hover::before {
  transform: scaleX(0.75);
  transform-origin: bottom center;
}

.hardway {
  height: 1070px;
  text-align: center;
}

.hardway h2 {
  font-family: "surveyor text a", "surveyor text b", Georgia, serif;
  margin: 0;
  font-weight: 300;
  font-size: 36px;
  line-height: 36px;
  color: #000;
  padding-top: 120px;
}

.hardway p {
  font-family: "Roboto", sans-serif;
  font-family: "Roboto Condensed", sans-serif;
  font-family: "Source Sans Pro", sans-serif;
  position: relative;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #a0a0a0;
  padding: 18px 300px 80px 300px;
}

.hardway img {
  width: 1052px;
  height: 592px;
}

.team {
  height: auto;
  text-align: center;
  margin: auto;
}

.team h2 {
  text-align: center;
  font-family: "surveyor text a", "surveyor text b", Georgia, serif;
  margin: 0;
  font-weight: 300;
  font-size: 36px;
  line-height: 36px;
  color: #000;
  padding: 10px;
}

.team p {
  font-family: "Roboto", sans-serif;
  font-family: "Roboto Condensed", sans-serif;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #a0a0a0;
  padding: 18px 290px 80px 290px;
}

.team-row {
  width: 1300px;
  margin: auto;
}

.team-column {
  margin: 0 12px 27px 12px;
  display: inline-block;
  width: 187px;
  height: 250px;
}

.card img {
  width: 100%;
  height: auto;
}

.team .btm-text {
  text-align: center;
  font-family: "surveyor text a", "surveyor text b", Georgia, serif;
  margin: 0;
  font-weight: 300;
  font-size: 36px;
  line-height: 36px;
  color: #000;
  padding: 100px 0 18px 0;
}

.team button {
  display: inline-block;
  position: relative;
  font-family: "Roboto", sans-serif;
  font-family: "Roboto Condensed", sans-serif;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  color: #000;
  letter-spacing: 1.4px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  text-align: center;
  padding: 22px 0 0 0;
}

.team button::before {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(1);
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #000;
  transform-origin: bottom center;
  transition: transform 0.25s ease-out;
}

.team button:hover::before {
  transform: scaleX(0.85);
  transform-origin: bottom center;
}

.bottom-quote {
  margin: 120px 50px 40px 50px;
  padding: 120px 40px;
  background-color: #9aa8b1;
  text-align: center;
}

.bottom-quote img {
  padding: 0;
  margin: 0;
  width: 40px;
  height: auto;
}

.bottom-quote h2 {
  margin: 0;
  font-size: 46px;
  padding: 25px;
  font-family: "surveyor text a", "surveyor text b", Georgia, serif;
  line-height: 58px;
  font-weight: 300;
  color: #fff;
}

.bottom-quote p {
  font-family: "Roboto", sans-serif;
  font-family: "Roboto Condensed", sans-serif;
  font-family: "Source Sans Pro", sans-serif;
  color: #fff;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  padding: 0;
  margin: 0;
  letter-spacing: 0.8px;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.go-up {
  background-color: #000;
  color: #fff;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-family: "Roboto Condensed", sans-serif;
  font-family: "Source Sans Pro", sans-serif;
  line-height: 16px;
  cursor: pointer;
  width: 81px;
  height: 81px;
  border: none;
  padding: 25px 30px;
  font-size: 16px;
  font-weight: 700;
  background-color: #000;
  color: #fff;
  display: flex;
  position: relative;
  left: 96.29355077835434%;
  transform: translateX(-100%);
}

.newsletter button:hover {
  background-color: #444444;
}
.newsletter {
  position: relative;
  overflow: hidden;
  margin: 0;
  background-color: #f9f9f9;
}

.links {
  float: left;
}
.links a {
  position: relative;
  font-family: "Lora", serif;
  text-decoration: none;
  display: block;
  font-size: 24px;
  line-height: 24px;
  font-weight: 300;
  margin-bottom: 15px;
  color: #000;
  margin-left: 50px;
}

.mail {
  position: relative;
  display: inline-block;
  width: 500px;
  top: 0;
  padding: 0 12px;
  margin: 0;
}

.mail h3 {
  padding: 0;
  margin: 0;
  font-family: "Lora", serif;
  font-weight: 300;
  font-size: 24px;
}

.mail p {
  margin: 20px 0 50px 0;
  width: 350px;
  font-family: "Noto Serif", serif;
  font-style: italic;
  font-size: 14px;
  font-weight: 300;
  color: #a0a0a0;
  font-style: italic;
  word-wrap: break-word;
}

.mail input {
  border-width: 0 0 2px;
  outline: 0;
  height: 41px;
  width: 320px;
  font-family: "Noto Serif", serif;
  font-style: italic;
  background-color: transparent;
}

::placeholder {
  font-family: "Noto Serif", serif;
  font-size: 14px;
}

.mail button {
  position: absolute;
  right: 188px;
  height: 41px;
  border: none;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 900;
  font-size: 16px;
  padding-left: 20px;
  color: #424242;
  background-color: transparent;
  cursor: pointer;
}

.mail button:hover {
  background-color: unset;
}

.footer {
  overflow: hidden;
  margin: 0 50px;
  /* display: inline-flex; */
  padding: 80px 0 16px 0;
  /* float: left; */
}

.footer img {
  width: 20px;
  height: auto;
  padding: 0 24px 0 0;
}

.footer-right a {
  font-family: "Noto Serif", serif;
  display: block;
  text-align: center;
  float: left;
  position: relative;
  text-decoration: none;
  font-size: 14px;
  color: #707a7f;
  padding: 0 17px;
}

.footer-right {
  float: right;
  right: 50px;
}
